<div class="center jumbotron">
	<h1>Roger Mark Michael</h1>

	<h2>In Memoriam
		<br><br>
		July 1, 1955 - Jan. 5, 2019
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary outline" %>
</div>

<hr>

<div class="card">
	<h3 class="card-title">John 12:24</h3>
	<p style="padding: 2rem;text-align: center;">"Truly, truly, I say to you, unless a grain of wheat falls into the earth and dies, it remains alone; but if it dies, it bears much fruit."</p>
</div>

<hr>

<div class="row mb-2">
	<div class="col-md-6">
		<div class="card flex-md-row mb-4">
			<div class="card-body">
				<div class="card-text">
					<h3 class="card-title"><strong>Share Your Memories</strong></h3>
					<p class="card-text">Sign up with your e-mail and post your thoughts, memories, and photos with the rest of Roger's family and friends.</p>
				</div>
			</div>
			<p class="card-link">
				<%= link_to "Make a post", share_path %>
			</p>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card flex-md-row mb-4">
			<div class="card-body">
				<div class="card-text">
					<h3 class="card-title"><strong>Find Service Information</strong></h3>
					<p class="card-text">There will be two services. One in West Virginia and one in Fort Wayne. Follow the link below to learn more.</p>
				</div>
			</div>
			<p class="card-link">
				<%= link_to "Click for more", information_path %>
			</p>
		</div>
	</div>
</div>

<div class="card">
	<div class="row">
		<div class="col-md-4 gofundme">
			<embed height="382rem;" noscroll="true" id="roger-michael-funeral-campaign" src="//www.gofundme.com/mvc.php?route=widgets/mediawidget&fund=roger-michael-funeral-campaign&image=1&coinfo=1&preview=1&nocache=1" type="text/html"></embed>
		</div>
		<div class="card col-md-8">
			<div>
				<h3 class="card-title"><strong>Support</strong></h3>
				<p>Because the funerals will not be in funeral homes, flower donations are complicated. If you'd prefer, you can donate through GoFundMe. If you're attending the Fort Wayne ceremony, you may also choose to bring food, but we ask that you please make a post on the Giving page detailing what you'll be bringing.</p>
				<p class="card-link">
					<%= link_to "Learn more", giving_path %>
				</p>
			</div>
		</div>
	</div>
</div>

<hr>
<div class="card">
	<div class="row">
		<div class="col-md-3 home-bio-img">
			<div class="card-img"></div>
		</div>
		<div class="col-md-9">
				<h1>Biography</h1>

				<p><strong>ROGER MARK MICHAEL</strong>, 63, departed this life for the next on January 5, 2019.  Born on July 1, 1955, in Clarksburg WV to Ernest and Martha Michael, and he was a graduate of South Harrison High School.  Roger resided in Fort Wayne IN with his wife of 25 years.</p>

				<p style="margin-top: 2vh;">Roger is survived by his wife Dacia, his three sons, Jeremy Michael (Amber), Dakota Michael and Dawson Michael (Jessica), and his three grandchildren Joshua, Lauri Ann and Rylie Marcella.  He is also survived by two sisters, and two brothers, Frankie Kelley (Layton), Connie Reynolds (Ken), Jeff Michael, Tim Michael (Raelynn), as well as twelve nieces and nephews.  Roger was preceded by both his parents, and his brother Lynn Michael...</p>

				<br>

				<p class="card-link"><%= link_to "Continue reading", bio_path %></p>
			</div>
		</div>
	</div>
</div>