<li id="food-<%= food.id %>">
	<%= link_to gravatar_for(food.user, size: 50), food.user %>
	<span class="user"><%= link_to food.user.name, food.user %></span>
	<span class="content">
		<%= food.content %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(food.created_at) %> ago.
		<% if current_user?(food.user) %>
	      <%= link_to "delete", food, method: :delete,
	                                       data: { confirm: "You sure?" } %>
	    <% end %>
	</span>
</li>